<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id = "userDaoJDBC" class="by.exadel.application.dao.UserDaoJDBC"/>
    <bean id = "taskDaoJDBC" class="by.exadel.application.dao.TaskDaoJDBC"/>
    <bean id = "userServiceJDBC" class="by.exadel.application.service.UserService">
        <constructor-arg index="0" ref="userDaoJDBC"/>
    </bean>
    <bean id = "taskServiceJDBC" class="by.exadel.application.service.TaskService">
        <constructor-arg index="0" ref ="taskDaoJDBC"/>
    </bean>
    <bean id="Console" class="by.exadel.application.console.Console">
        <constructor-arg index="0" ref="userServiceJDBC"/>
        <constructor-arg index="1" ref ="taskServiceJDBC"/>
    </bean>
</beans>